In [2]:
print("Hello World!")

Hello World!

In [3]:
#this is a comment in python

In [6]:
print("Hello World!")#hey Harry

Hello World!

In [7]:
''' This is a multi line comment in python
line 1
line 2
line 3...
and soo on '''

' This is a multi line comment in python\nline 1\nline 2\nline 3...\nand soo on '

In [19]:
'''hi, this 
is a comment in more than
one line'''
print("hello world")

hello world

In [14]:
"""HI""" 
print("Hello")

Hello

In [20]:
a=3
print(a)

3

In [21]:
a=6.2
print(a)

6.2

In [22]:
a="mudit"
print(a)

mudit

In [23]:
f = "5"
print(int(f)+1)

6

In [24]:
 x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [25]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [26]:
x = 5
y = 10
print(x + y)

15

In [27]:
a=10
b=4
a|b

14

In [34]:
a=10
b=4
print(a==b or a>b)

True

In [35]:
a=10
b=4
a|b

14

In [36]:
print("a & b =", a & b)
 
# Print bitwise OR operation
print("a | b =", a | b)
 
# Print bitwise NOT operation
print("~a =", ~a)
 
# print bitwise XOR operation
print("a ^ b =", a ^ b)

a & b = 0
a | b = 14
~a = -11
a ^ b = 14

In [37]:
a = 10
b = -10
 
# print bitwise right shift operator
print("a >> 1 =", a >> 1)
print("b >> 1 =", b >> 1)

a >> 1 = 5
b >> 1 = -5

In [41]:
a = 5

 
# print bitwise left shift operator
print("a << 1 =", a << 1)
print("a << 2 =", a << 2)

a << 1 = 10
a << 2 = 20

In [2]:
x=10
y=5
print(x==y and x>y)

False

In [3]:
print(x==y and x<y)

False

In [4]:
print(x>y and y==5)

True

In [6]:
print(not(False))

True

In [7]:
print(not(True))

False

In [8]:
pip install pandas

Requirement already satisfied: pandas in d:\programes\anaconda\lib\site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\programes\anaconda\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in d:\programes\anaconda\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in d:\programes\anaconda\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in d:\programes\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd

In [10]:
pip install openpyxl

Requirement already satisfied: openpyxl in d:\programes\anaconda\lib\site-packages (3.0.7)
Requirement already satisfied: et-xmlfile in d:\programes\anaconda\lib\site-packages (from openpyxl) (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [16]:
df = pd.read_excel(r"C:\Users\Mudit\Downloads\extra\1st In Sem Exam B Tech CSE IV & VI Sem March 2023.xlsx") #use r to convert to raw string
print(df)

                                     JECRC University  \
0                                                 NaN
1    B.Tech Computer Science Engineering (Semester...
2                                                Date
3                                                 NaN
4                                          14.03.2023
5                                                 NaN
6                                          16.03.2023
7                                                 NaN
8                                          18.03.2023
9                                                 NaN
10                                         20.03.2023
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN

                                           Unnamed: 1  \
0   Time Table - 1st In Sem Examination March - 2023
1                                                 NaN
2                                        Shift & Time
3                                                 NaN
4                     Shift -I (09:00 AM to 10:30 AM)
5                    Shift -II (11:00 AM to 12:30 PM)
6                     Shift -I (09:00 AM to 10:30 AM)
7                    Shift -II (11:00 AM to 12:30 PM)
8                     Shift -I (09:00 AM to 10:30 AM)
9                    Shift -II (11:00 AM to 12:30 PM)
10                    Shift -I (09:00 AM to 10:30 AM)
11                   Shift -II (11:00 AM to 12:30 PM)
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN

                                   Unnamed: 2  \
0                                         NaN
1                                         NaN
2                           Section A,B,C,D,E
3                                     Subject
4              Python Programming BCO/SPL031A
5   Computer Organization and Design BCO009B
6        Database Management Systems BCO010C
7          Google Cloud- BCO094A / Salesforce
8         Life Skills - 2 (Aptitude) DMA003A
9                               Open Elactive
10                                      xxxxx
11                                      xxxxx
12                                        NaN
13                                        NaN
14                                        NaN
15                                        NaN
16                                        NaN

                                           Unnamed: 3  \
0                                                 NaN
1                                                 NaN
2                                   XEBIA (Section F)
3                                             Subject
4   Unsupervised Learning & Neural Networks BCO357...
5           Computer Organization and Design BCO009B
6                Database Management Systems BCO010C
7                  Google Cloud- BCO094A / Salesforce
8                 Life Skills - 2 (Aptitude) DMA003A
9                                       Open Elactive
10  Backend Development with NodeJS (3) BCA380A /O...
11                                              xxxxx
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN

                                        Unnamed: 4  \
0                                              NaN
1                                              NaN
2                         SAMATRIX (Section G & H)
3                                          Subject
4   Machine Learning & Pattern Recognition BCO323B
5        Computer Organization and Design BCO009B
6             Database Management Systems BCO010C
7               Google Cloud- BCO094A / Salesforce
8              Life Skills - 2 (Aptitude) DMA003A
9                                    Open Elactive
10                                           xxxxx
11                                           xxxxx
12                                             NaN
13                                             NaN
14                                             NaN
15                                             NaN
16                                             NaN

                                   Unnamed: 5  \
0                                         NaN
1                                         NaN
2                     EC-Council  (Section I)
3                                     Subject
4          Certified Network Defender BCO340A
5   Computer Organization and Design BCO009B
6        Database Management Systems BCO010C
7          Google Cloud- BCO094A / Salesforce
8         Life Skills - 2 (Aptitude) DMA003A
9                               Open Elactive
10                                      xxxxx
11                                      xxxxx
12                                        NaN
13                                        NaN
14                                        NaN
15                                        NaN
16                                        NaN

                                           Unnamed: 6  \
0                                                 NaN
1                                                 NaN
2                                     TCS (Section J)
3                                             Subject
4   Introduction to Innovation, IP Management & En...
5                                     Design Thinking
6           Marketing Research & Marketing Management
7             Essence of Indian Traditional Knowledge
8                                               xxxxx
9                                               xxxxx
10                                              xxxxx
11                                              xxxxx
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN

                                           Unnamed: 7  \
0                                                 NaN
1                                                 NaN
2                                     IBM (Section K)
3                                             Subject
4   Statistics 101, Spark Mllib, MachineLearning- ...
5           Computer Organization and Design BCO009B
6                Database Management Systems BCO010C
7                  Google Cloud- BCO094A / Salesforce
8                 Life Skills - 2 (Aptitude) DMA003A
9                                       Open Elactive
10            Deep Learning with Tensor Flow BCO125A
11    Cognitive Decision System for Managers BCO124A
12                                                NaN
13                                                NaN
14                                                NaN
15                                               DCoE
16                                   JECRC University

                                           Unnamed: 8
0                                                 NaN
1                                                 NaN
2                         AWS & Microsoft (Section L)
3                                             Subject
4                          Python Programming BCO081B
5           Computer Organization and Design BCO009B
6                Database Management Systems BCO010C
7                  Google Cloud- BCO094A / Salesforce
8                 Life Skills - 2 (Aptitude) DMA003A
9                                       Open Elactive
10  AWS Cloud Security BCO483A / Azure Administrat...
11                                              xxxxx
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN

In [17]:
#or we can convert the path to forward slash or double backward slash
df = pd.read_excel("C:/Users/Mudit/Downloads/extra/1st In Sem Exam B Tech CSE IV & VI Sem March 2023.xlsx") 
print(df)

                                     JECRC University  \
0                                                 NaN
1    B.Tech Computer Science Engineering (Semester...
2                                                Date
3                                                 NaN
4                                          14.03.2023
5                                                 NaN
6                                          16.03.2023
7                                                 NaN
8                                          18.03.2023
9                                                 NaN
10                                         20.03.2023
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN

                                           Unnamed: 1  \
0   Time Table - 1st In Sem Examination March - 2023
1                                                 NaN
2                                        Shift & Time
3                                                 NaN
4                     Shift -I (09:00 AM to 10:30 AM)
5                    Shift -II (11:00 AM to 12:30 PM)
6                     Shift -I (09:00 AM to 10:30 AM)
7                    Shift -II (11:00 AM to 12:30 PM)
8                     Shift -I (09:00 AM to 10:30 AM)
9                    Shift -II (11:00 AM to 12:30 PM)
10                    Shift -I (09:00 AM to 10:30 AM)
11                   Shift -II (11:00 AM to 12:30 PM)
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN

                                   Unnamed: 2  \
0                                         NaN
1                                         NaN
2                           Section A,B,C,D,E
3                                     Subject
4              Python Programming BCO/SPL031A
5   Computer Organization and Design BCO009B
6        Database Management Systems BCO010C
7          Google Cloud- BCO094A / Salesforce
8         Life Skills - 2 (Aptitude) DMA003A
9                               Open Elactive
10                                      xxxxx
11                                      xxxxx
12                                        NaN
13                                        NaN
14                                        NaN
15                                        NaN
16                                        NaN

                                           Unnamed: 3  \
0                                                 NaN
1                                                 NaN
2                                   XEBIA (Section F)
3                                             Subject
4   Unsupervised Learning & Neural Networks BCO357...
5           Computer Organization and Design BCO009B
6                Database Management Systems BCO010C
7                  Google Cloud- BCO094A / Salesforce
8                 Life Skills - 2 (Aptitude) DMA003A
9                                       Open Elactive
10  Backend Development with NodeJS (3) BCA380A /O...
11                                              xxxxx
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN

                                        Unnamed: 4  \
0                                              NaN
1                                              NaN
2                         SAMATRIX (Section G & H)
3                                          Subject
4   Machine Learning & Pattern Recognition BCO323B
5        Computer Organization and Design BCO009B
6             Database Management Systems BCO010C
7               Google Cloud- BCO094A / Salesforce
8              Life Skills - 2 (Aptitude) DMA003A
9                                    Open Elactive
10                                           xxxxx
11                                           xxxxx
12                                             NaN
13                                             NaN
14                                             NaN
15                                             NaN
16                                             NaN

                                   Unnamed: 5  \
0                                         NaN
1                                         NaN
2                     EC-Council  (Section I)
3                                     Subject
4          Certified Network Defender BCO340A
5   Computer Organization and Design BCO009B
6        Database Management Systems BCO010C
7          Google Cloud- BCO094A / Salesforce
8         Life Skills - 2 (Aptitude) DMA003A
9                               Open Elactive
10                                      xxxxx
11                                      xxxxx
12                                        NaN
13                                        NaN
14                                        NaN
15                                        NaN
16                                        NaN

                                           Unnamed: 6  \
0                                                 NaN
1                                                 NaN
2                                     TCS (Section J)
3                                             Subject
4   Introduction to Innovation, IP Management & En...
5                                     Design Thinking
6           Marketing Research & Marketing Management
7             Essence of Indian Traditional Knowledge
8                                               xxxxx
9                                               xxxxx
10                                              xxxxx
11                                              xxxxx
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN

                                           Unnamed: 7  \
0                                                 NaN
1                                                 NaN
2                                     IBM (Section K)
3                                             Subject
4   Statistics 101, Spark Mllib, MachineLearning- ...
5           Computer Organization and Design BCO009B
6                Database Management Systems BCO010C
7                  Google Cloud- BCO094A / Salesforce
8                 Life Skills - 2 (Aptitude) DMA003A
9                                       Open Elactive
10            Deep Learning with Tensor Flow BCO125A
11    Cognitive Decision System for Managers BCO124A
12                                                NaN
13                                                NaN
14                                                NaN
15                                               DCoE
16                                   JECRC University

                                           Unnamed: 8
0                                                 NaN
1                                                 NaN
2                         AWS & Microsoft (Section L)
3                                             Subject
4                          Python Programming BCO081B
5           Computer Organization and Design BCO009B
6                Database Management Systems BCO010C
7                  Google Cloud- BCO094A / Salesforce
8                 Life Skills - 2 (Aptitude) DMA003A
9                                       Open Elactive
10  AWS Cloud Security BCO483A / Azure Administrat...
11                                              xxxxx
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN

In [18]:
#using double backward slash
df = pd.read_excel("C:\\Users\\Mudit\\Downloads\\extra\\1st In Sem Exam B Tech CSE IV & VI Sem March 2023.xlsx") 
print(df)

                                     JECRC University  \
0                                                 NaN
1    B.Tech Computer Science Engineering (Semester...
2                                                Date
3                                                 NaN
4                                          14.03.2023
5                                                 NaN
6                                          16.03.2023
7                                                 NaN
8                                          18.03.2023
9                                                 NaN
10                                         20.03.2023
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN

                                           Unnamed: 1  \
0   Time Table - 1st In Sem Examination March - 2023
1                                                 NaN
2                                        Shift & Time
3                                                 NaN
4                     Shift -I (09:00 AM to 10:30 AM)
5                    Shift -II (11:00 AM to 12:30 PM)
6                     Shift -I (09:00 AM to 10:30 AM)
7                    Shift -II (11:00 AM to 12:30 PM)
8                     Shift -I (09:00 AM to 10:30 AM)
9                    Shift -II (11:00 AM to 12:30 PM)
10                    Shift -I (09:00 AM to 10:30 AM)
11                   Shift -II (11:00 AM to 12:30 PM)
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN

                                   Unnamed: 2  \
0                                         NaN
1                                         NaN
2                           Section A,B,C,D,E
3                                     Subject
4              Python Programming BCO/SPL031A
5   Computer Organization and Design BCO009B
6        Database Management Systems BCO010C
7          Google Cloud- BCO094A / Salesforce
8         Life Skills - 2 (Aptitude) DMA003A
9                               Open Elactive
10                                      xxxxx
11                                      xxxxx
12                                        NaN
13                                        NaN
14                                        NaN
15                                        NaN
16                                        NaN

                                           Unnamed: 3  \
0                                                 NaN
1                                                 NaN
2                                   XEBIA (Section F)
3                                             Subject
4   Unsupervised Learning & Neural Networks BCO357...
5           Computer Organization and Design BCO009B
6                Database Management Systems BCO010C
7                  Google Cloud- BCO094A / Salesforce
8                 Life Skills - 2 (Aptitude) DMA003A
9                                       Open Elactive
10  Backend Development with NodeJS (3) BCA380A /O...
11                                              xxxxx
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN

                                        Unnamed: 4  \
0                                              NaN
1                                              NaN
2                         SAMATRIX (Section G & H)
3                                          Subject
4   Machine Learning & Pattern Recognition BCO323B
5        Computer Organization and Design BCO009B
6             Database Management Systems BCO010C
7               Google Cloud- BCO094A / Salesforce
8              Life Skills - 2 (Aptitude) DMA003A
9                                    Open Elactive
10                                           xxxxx
11                                           xxxxx
12                                             NaN
13                                             NaN
14                                             NaN
15                                             NaN
16                                             NaN

                                   Unnamed: 5  \
0                                         NaN
1                                         NaN
2                     EC-Council  (Section I)
3                                     Subject
4          Certified Network Defender BCO340A
5   Computer Organization and Design BCO009B
6        Database Management Systems BCO010C
7          Google Cloud- BCO094A / Salesforce
8         Life Skills - 2 (Aptitude) DMA003A
9                               Open Elactive
10                                      xxxxx
11                                      xxxxx
12                                        NaN
13                                        NaN
14                                        NaN
15                                        NaN
16                                        NaN

                                           Unnamed: 6  \
0                                                 NaN
1                                                 NaN
2                                     TCS (Section J)
3                                             Subject
4   Introduction to Innovation, IP Management & En...
5                                     Design Thinking
6           Marketing Research & Marketing Management
7             Essence of Indian Traditional Knowledge
8                                               xxxxx
9                                               xxxxx
10                                              xxxxx
11                                              xxxxx
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN

                                           Unnamed: 7  \
0                                                 NaN
1                                                 NaN
2                                     IBM (Section K)
3                                             Subject
4   Statistics 101, Spark Mllib, MachineLearning- ...
5           Computer Organization and Design BCO009B
6                Database Management Systems BCO010C
7                  Google Cloud- BCO094A / Salesforce
8                 Life Skills - 2 (Aptitude) DMA003A
9                                       Open Elactive
10            Deep Learning with Tensor Flow BCO125A
11    Cognitive Decision System for Managers BCO124A
12                                                NaN
13                                                NaN
14                                                NaN
15                                               DCoE
16                                   JECRC University

                                           Unnamed: 8
0                                                 NaN
1                                                 NaN
2                         AWS & Microsoft (Section L)
3                                             Subject
4                          Python Programming BCO081B
5           Computer Organization and Design BCO009B
6                Database Management Systems BCO010C
7                  Google Cloud- BCO094A / Salesforce
8                 Life Skills - 2 (Aptitude) DMA003A
9                                       Open Elactive
10  AWS Cloud Security BCO483A / Azure Administrat...
11                                              xxxxx
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN

In [2]:
name="mudit"
print(name)

mudit

In [2]:
print(name[0:3])

mud

In [3]:
print(name[1:4])

udi

In [3]:
print(name.upper())

MUDIT

In [4]:
print(name.lower())

mudit

In [5]:
print(name[::2]) #skip characters by 2 index

mdt